<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="android.theme.customization.udfps_icon.gibarbara">
    <application android:hasCode="false"/>
    <overlay android:targetPackage="com.android.systemui"
             android:category="android.theme.customization.udfps_icon"
             android:priority="1"/>
</manifest>
